<ul class="sequence-canvas">
  <!-- Slide -->
  {% load staticfiles %}
  {% for slide in slides %}
  <li class="bg3">
    <!-- Slide Title -->
    <h2 class="title">{{slide.title}}</h2>
    <!-- Slide Text -->
    <h3 class="subtitle">{{ slide.subtitle}}</h3>
    <!-- Slide Image -->
    <img class="slide-img" src="/media/{{slide.image}}" alt="{{ slide.title}}" />
  </li>
  <!-- End Slide -->
</ul>
{% endfor %}

<div class="sequence-pagination-wrapper">
    <ul class="sequence-pagination">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
</div>
