{% load pages_tags %}
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if LANGUAGE_CODE == 'el' %}
		<title>Κλιμα Αριστοτεχνική - Θ. Ρεμουνδος</title>
		{% else %}
		<title>Clima Aristotehniki - Th. Remoundos</title>
		{% endif %}
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		{% load staticfiles %}

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/icomoon-social.css' %}">
		<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'-->

		<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
		<!--[if lte IE 8]-->
		<link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
		<!--  [endif] -->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
  <!-- Navigation & Logo-->
    <div class="mainmenu-wrapper">
	    <div class="container">
        <div class="menuextras">
					<div class="extras">
						<ul>
							<li>
								<div class="dropdown choose-country">
									{% block lang_choose %}
			            <ul id="set_lang" class="nav pull-right">
			              {% if settings.SOLID_I18N_USE_REDIRECTS %}
			                {% if LANGUAGE_CODE == 'el' %}
			                  <li>
			                    <form action="/i18n/setlang/" method="post">
			                    {% csrf_token %}
			                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
			                    <input name="language" type="hidden" value="en" />
			                    <input type="submit" class="lang_active" value="EL" />
			                    </form>
			                  </li>
			                  <li>
			                    <form action="/i18n/setlang/" method="post">
			                    {% csrf_token %}
			                    <input name="next" type="hidden" value="/en{{request.get_full_path}}" />
			                    <input name="language" type="hidden" value="en" />
			                    <input type="submit" value="EN" />
			                    </form>
			                  </li>
			                {% else %}
			                  <li>
			                    <form action="/i18n/setlang/" method="post">
			                    {% csrf_token %}
			                    <input name="next" type="hidden" value="{{request.get_full_path|slice:'3:'}}" />
			                    <input name="language" type="hidden" value="en" />
			                    <input type="submit" value="EL" />
			                    </form>
			                  </li>

			                  <li>
			                    <form action="/i18n/setlang/" method="post">
			                    {% csrf_token %}
			                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
			                    <input name="language" type="hidden" value="en" />
			                    <input type="submit" class="lang_active" value="EN" />
			                    </form>
			                  </li>
			                {% endif %}
			              {% else %}
			                    {% if LANGUAGE_CODE == 'el' %}
			                      <li><a class="lang_active" href="{{request.get_full_path}}" >EL</a></li>
			                      <li><a href="/en{{request.get_full_path}}" >EN</a></li>
			                    {% else %}
			                      <li><a href="{{request.get_full_path|slice:'3:'}}" >EL</a></li>
			                      <li><a class="lang_active" href="{{request.get_full_path}}" >EN</a></li>
			                    {% endif %}
			              {% endif %}
			              </ul>
			            {% endblock lang_choose %}
								</div>
							</li>
			      </ul>
					</div>
		    </div>
		    <nav id="mainmenu" class="mainmenu">
					<ul class="topnav" id="myTopnav">
						<li class="logo-wrapper">
							{% if LANGUAGE_CODE == 'el' %}
							<a href="/">
								<img class="clima-logo" src="{% static 'img/logo.png' %}" alt="Κλιμα Αριστοτεχνική - Θ. Ρεμουνδος">
							</a>
							{% else %}
							<a href="/en/">
								<img class="clima-logo" src="{% static 'img/logo.png' %}" alt="Clima Aristotehniki - Th. Remoundos">
							</a>
							{% endif %}
						</li>
						{% if LANGUAGE_CODE == 'el' %}
						<li class="active">
							<a href="{% url 'home' %}">Εταιρία</a>
						</li>
						<li class="has-submenu">
							<a href="#">Υπηρεσίες</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4></h4>
										<h4>Υπηρεσίες</h4>
										{% show_pages_menu my_tags  %}
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="{% url 'portfolio_list' %}">Εργα</a>
						</li>
						<li>
							<a href="{% url 'category_list' %}">Προιόντα</a>
						</li>
						<li>
							<a href="{% url 'faq' %}">FAQ</a>
						</li>
						<li>
							<a href="{% url 'contact' %}">Επικοινωνία</a>
						</li>
						<li class="icon">
							<a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
						</li>
						{% else %}
						<li class="active">
							<a href="{% url 'home' %}">Company</a>
						</li>
						<li class="has-submenu">
							<a href="#">Services</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Services</h4>
										{% show_pages_menu pages_menu %}
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="{% url 'portfolio_list' %}">Works</a>
						</li>
						<li>
							<a href="{% url 'category_list' %}">Products</a>
						</li>
						<li>
							<a href="{% url 'faq' %}">FAQ</a>
						</li>
						<li>
							<a href="{% url 'contact' %}">Contact</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	{% block content %}

	{% endblock %}
	<!-- Footer -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-footer col-md-3 col-xs-6">
					<h3>Our Latest Work</h3>
					{% for latest in latest_project %}
					<div class="portfolio-item">
					<div class="portfolio-image">
						<a href="{% url 'portfolio_detail' pk=latest.pk %}"><img src="/media/{{latest.image}}" alt="{{ latest.name }}"></a>
					</div>
				</div>
				{% endfor%}
				</div>
				<div class="col-footer col-md-3 col-xs-6">
					{% if LANGUAGE_CODE == 'el' %}
					<h3>Χαρτης</h3>
					<ul class="no-list-style footer-navigate-section">
						<li><a href="{% url 'home' %}">Αρχική</a></li>
						<li>	<a href="#">Υπηρεσίες</a></li>
						<li><a href="{% url 'portfolio_list' %}">Εργα</a></li>
						<li><a href="{% url 'category_list' %}">Προιόντα</a></li>
						<li><a href="{% url 'faq' %}">FAQ</a></li>
						<li><a href="{% url 'contact' %}">Επικοινωνία</a></li>
					</ul>
						{% else %}
					<h3>Navigate</h3>
					<ul class="no-list-style footer-navigate-section">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>	<a href="#">Services</a></li>
						<li><a href="{% url 'portfolio_list' %}">Work</a></li>
						<li><a href="{% url 'category_list' %}">Products</a></li>
						<li><a href="{% url 'faq' %}">FAQ</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					<ul>
						{% endif %}

				</div>

				<div class="col-footer col-md-4 col-xs-6">
					<p class="contact-us-details">
						{% if LANGUAGE_CODE == 'en' %}
						<h3>Contacts</h3>
							<b>Company Name:</b> Remoudos Theodors Company <br/>
							<b>Address:</b> DERVENAKION 9, 18122, <br/>
							<b>Phone:</b> +30 2104944519 <br/>
							<b>Mobile Phone:</b> 6944783925 <br/>
							<b>Fax:</b>  +30 2104944519 <br/>
							<b>Email:</b>  <a href="mailto:getintoutch@yourcompanydomain.com">clima_aristotehniki@yahoo.gr </a>
						{% else %}
						<h3>Στοιχεία επικοινωνίας</h3>
							<b>Επωνυμία:</b> ΡΕΜΟΥΝΔΟΣ ΘΕΟΔΩΡΟΣ Ε.Ε. <br/>
							<b>Διεύθυνση:</b> ΔΕΡΒΕΝΑΚΙΩΝ 9, ΚΟΡΥΔΑΛΛΟΣ <br/>
							<b>Τηλέφωνο:</b> 2104944519 <br/>
							<b>Κινητό Τηλέφωνο:</b> 6944783925 <br/>
							<b>Fax:</b>  2104944519 <br/>
							<b>Email:</b>  <a href="mailto:getintoutch@yourcompanydomain.com">clima_aristotehniki@yahoo.gr </a>
						{% endif %}
						</p>
				</div>
				<div class="col-footer col-md-2 col-xs-6">
					{% category_list pages_tags  %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="footer-copyright">&copy; 2017 Climaristotehniki -Th. Remoundos</div>
				</div>
				<div class="col-md-6">
					<div class="footer-copyright">Handcrafted and Coded by <a href="http://kkabardi.me/about/" target="_blank"><b>Pycat<b></a></div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
	<!-- Javascripts -->
  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
  <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.9.1.min.js' %}"><\/script>')</script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script-->
  <script src="{% static 'js/jquery.fitvids.js' %}"></script>
  <script src="{% static 'js/jquery.sequence-min.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.js' %}"></script>
  <script src="{% static 'js/main-menu.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>

	<script>
	  function initMap() {
	    var mapDiv = document.getElementById('map');
	    var map = new google.maps.Map(mapDiv, {
	      center: {lat: 37.995035, lng: 23.642978},
	      zoom: 8
	    });
	  }
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
			 async defer></script>

<script type="text/javascript">
	/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
			 function myFunction() {
					 var x = document.getElementById("myTopnav");
					 if (x.className === "topnav") {
							 x.className += " responsive";
					 } else {
							 x.className = "topnav";
					 }
			 }
</script>

</body>
</html>
