{% extends 'base.html' %}
{% load staticfiles %}
{% load pages_tags %}
{% block content %}
<!-- Homepage Slider -->
  <div class="homepage-slider">
    <div id="sequence">
      {% show_slides pages_tags  %}
    </div>
  </div>
  <!-- End Homepage Slider -->
  <!-- Services -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="service-wrapper">
              <img src="{% static 'img/service-icon/diamond.png' %}" alt="Service 1">
              <h3>Συντήριση Μηχανημάτων</h3>
              <p>Η συντήρηση των μηχανημάτων από το ειδικευμένο προσωπικό εξασφαλίζει την απρόσκοπτη λειτουργία του κλιματισμού.</p>
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-wrapper">
              <img src="{% static 'img/service-icon/ruler.png' %}" alt="Service 2">
              <h3>Μελετες - Εγκαταστάσεις</h3>
              <p>Μία από τις προϋποθέσεις της σωστής λειτουργίας του κλιματισμού είναι ο άρτιος σχεδιασμός της εγκατάστασης.</p>
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-wrapper">
              <img src="{% static 'img/service-icon/box.png' %}" alt="Service 3">
              <h3>Υποστήριξη/Service</h3>
              <p>Επισκευές, αναβαθμίσεις, καθαρισμοί αεραγωγών, ανταλλακτικά. Λυσεις προβλημάτων.</p>
              <a href="#" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- End Services -->
  <!-- Press Coverage -->
  <!-- Call to Action Bar -->
  <div class="section section-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="calltoaction-wrapper">
          <h3>Ολοκληρωμένες λύσεις Ψύξης, Κλιματισμού, Θέρμανσης</h3> <a href="http://climaristotehniki.gr/contact/" class="btn btn-orange">Επικοινωνήστε μαζι μας</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End Call to Action Bar -->

<!-- Press Coverage -->
  <div class="section">
  <div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="in-press press-wired">
        <a href="#">Τα κλιματιστικά οικιακού τύπου της Toshiba: κομψoς σχεδιασμός, αθόρυβη λειτουργία, ποιότητα εσωτερικού αέρα, εξοικονόμηση ενέργειας, εύκολη εγκατάσταση</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="in-press press-mashable">
        <a href="#">Σας παρέχουμε λύσεις οικιακών και επαγγελαμτικών εφαρμογών, κεντρικού και ημικεντρικού κλιματισμού.</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="in-press press-techcrunch">
        <a href="#">Βρισκόμαστε κοντά σας για να εγκαταστήσουμε το σύστημα θέρμανσης που σας ταιριάζει σύμφωνα με τις ανάγκες σας.</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Our Clients -->
<div class="section">
  <div class="container">
    <h2>Our Clients</h2>
  <div class="clients-logo-wrapper text-center row">
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static 'img/logos/jumbo-logo.png' %}" alt="Jumbo"></a></div>

  </div>
</div>
</div>
<!-- End Our Clients -->
{% endblock content %}
